body{
    background-color: #f1f1f1;
    background-image: url("background final.png");
    background-attachment: fixed;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

#hal2{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

#hal1{
    align-items: center;
    justify-content: center;
    /*background-image: url("backgroundhal1.png");
    background-size: cover;*/
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#email-logo1{
    position: absolute;
    bottom: 0px;
}

#logo1{
    width: 25%;
    padding-right: 2%;
    display: block;
    margin-left:auto;
}

#info-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#button-container{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}

#filter-button, #form{
    width: 40%;
}

#form{
    height: 30px;
    width: 100%;
    border-radius: 16px;
    border: 1.5px solid rgb(168, 171, 192);
    padding-left: 12px;
}

.info{
    display: flex;
    align-items: center;
    width: 40%;
    height: auto;
    font-size: small;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 12px;
    color: rgb(21, 39, 99);
}

.info p{
    padding: 8px;
}

#filter-info{
    margin-right: 2%;
}
#pilih-info{
    margin-left: 2%;
}
#filter-button{
    margin-right: 2%;
}
/*
#pilih-button{
    width: 40%;
    margin-left: 2%;
}
*/

.judul{
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}

#email-logo2{
    width: 15%;
    padding-left: 6px;
}

#logo2{
    width: 100%;
    padding-top: 6px;
}

#disclaimer{
    background-image: linear-gradient(to right, rgb(13, 52, 174, 0.7), rgb(116, 75, 157, 0.7), rgb(168, 141, 173, 0.7), rgb(27, 36, 125, 0.7));
}
#disclaimer li{
    color: rgb(253, 254, 253);
    font-style: italic;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-bottom: 14px;
    list-style: none;
    white-space: nowrap;
    animation: ticker 24s infinite linear;
}

#disclaimerText{
    color: rgb(116, 75, 157);
    background-color:  rgb(253, 254, 253, 0.8);
    padding: 4px;
    font-weight: 600;
}

@keyframes ticker {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-1313px);
    }
}

.header{
    background-color: rgb(27, 32, 60);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}

.header .links{
    text-align: right;
    display: flex;
    justify-content: center;
    margin-right: 2%;
}

.opsi{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.links a{
    color:rgb(253, 254, 253);
  font-size: 10px;
  font-family: Tahoma, sans-serif;
  padding:4px;
}


.header h2{
    color: rgb(253, 254, 253);
  font-size: 140%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  bottom: 0px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    margin-top: 32px;
    margin-bottom: 20px;
}

.menu{
    text-align: center;
  font-style: italic;
  font-size: medium;
  font-family:'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px;
  color: rgb(21, 39, 99);
}


input[type=button], input[type=text], #form{
    background-color: rgb(168, 171, 192, 0.6);
    color: rgb(73, 73, 74);
    font-weight: 800;
}


.instruksi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    text-decoration: none;
}

input{
    height: 30px;
    width: 200px;
    border-radius: 16px;
    border: 1.5px solid rgb(168, 171, 192);
}


.input{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;

}

.menu h3, .menu h4{
    margin: 0px;
    padding: 0px;
}

.menu h4{
    font-size: small;
}

.menu{
    margin-bottom: 5%;
}

/* #flexContainer{
    display: none;
} */

#searchMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 200px;
    overflow: scroll;
}

#searchMenu button{
    background-color: lightgrey;
    border: 1px solid darkgrey;
    text-align: left;
    padding: 4px;
    width: 180px;
    max-width: 180px;
}

#searchMenu button:hover{
    background-color: orange;
}

#saran2{
    display: none;
}

#box{ 
    display: flex;
    flex-direction: column;
}


/*#output{
    display: none;
}*/

#headerOutput{
    display:flex;
    justify-content: center;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 8% 24px;
}

.prospek{
    display:flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.5);
    margin-bottom: 10px;
    max-height: 200px;
    overflow: scroll;
    font-family: Tahoma, sans-serif;
    font-size: small;
}

.paket{
    background-color: #FCFFE7;
    margin-bottom: 16px;
    padding: 4px 16px;
    border-radius: 16px;
}

/*
#A, #B, #C, #D {
    display:none;
}
*/

.navigasi{
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
}

.list{
    display: none;
  font-family: Tahoma, sans-serif;
  background-color: rgb(255, 255, 255, 0.5);
    /* padding: 16px; */
    color: rgb(50, 50, 52);
}

ul{
    font-size: 13px;
    margin: 0px;
    margin-bottom: 12px;
}

h5{
    flex: 1 1 auto;
    margin:4px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(50, 50, 52);
}

.add{
    border:none;
    background: none;
}

#pesan{
    display:none;
    font-size: small;
    text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  max-width: 70%;
}

#output h3{
    display:inline-block;
    padding-left: 16px;
    padding-right: 16px;
}

#saran{
    display: none;
}

p{
  font-size: 14px;
}

.paket p{
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 4px;
  font-family: Tahoma, sans-serif;
  font-size: small;
  color: rgb(255, 255, 255);
}

h4{
    font-size: medium;
  text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(50, 50, 52);
}

#saranSemua{
    display: none;
}

#KKO{
    background-color: rgba(134, 100, 152, 0.7);
    border: 1.5px solid rgb(134, 100, 152);
}

#A{
    background-color:rgb(138, 116, 150, 0.7);
    border: 1.5px solid rgb(138, 116, 150);
}

#B{
    background-color: rgb(116, 75, 157, 0.5);
    border: 1.5px solid rgb(116, 75, 157);
}

#C{
    background-color: rgb(49, 32, 77, 0.5);
    border: 1.5px solid rgb(49, 32, 77);
}

#D{
    background-color: rgb(27, 36, 125, 0.5);
    border: 1.5px solid rgb(27, 36, 125);
}

#E{
    background-color: rgb(13, 52, 174, 0.5);
    border: 1.5px solid rgb(13, 52, 174);
}

#F{
    background-color: rgb(89, 87, 141, 0.7);
    border: 1.5px solid rgb(89, 87, 141);
}

#G{
    background-color: rgb(143, 145, 189, 0.7);
    border: 1.5px solid rgb(143, 145, 189);
}

#H{
    background-color: rgb(150, 157, 194, 0.7);
    border: 1.5px solid rgb(150, 157, 194);
}

#I{
    background-color: rgb(148, 132, 175, 0.7);
    border: 1.5px solid rgb(148, 132, 175);
}

#J{
    background-color: rgb(168, 141, 173, 0.7);
    border: 1.5px solid rgb(168, 141, 173);
}

#K{
    background-color: rgb(108, 116, 148, 0.7);
    border: 1.5px solid rgb(108, 116, 148);
}
